@inherits LayoutComponentBase

<div class="page">
    <main>
        <p><a href="/">Go back to the home page</a></p>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
