name: hexagonal-solution-template

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      SA_PASSWORD: "cY5VvZkkh4AzES"
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Developer"
    networks:
      - hexagonal_solution_template_network
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -U sa -P "cY5VvZkkh4AzES" -C -Q "SELECT 1" || exit 1
      interval: 3s
      timeout: 10s
      retries: 10
      start_period: 15s
    ports:
      - "1433:1433"

  mssqltools:
    image: mcr.microsoft.com/mssql-tools
    depends_on:
      sqlserver:
        condition: service_healthy
    networks:
      - hexagonal_solution_template_network
    volumes:
      - ./scripts/migrations.sql:/tmp/migrations.sql
      - ./scripts/seeds.sql:/tmp/seeds.sql
    command:
      - /bin/bash
      - -c
      - |
        ./opt/mssql-tools/bin/sqlcmd -S sqlserver -U sa -P "cY5VvZkkh4AzES" -C -d master -i ./tmp/migrations.sql &&
        ./opt/mssql-tools/bin/sqlcmd -S sqlserver -U sa -P "cY5VvZkkh4AzES" -C -d master -i ./tmp/seeds.sql

  aspire-dashboard:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:9
    networks:
      - hexagonal_solution_template_network
    ports:
      - "18888:18888"
      - "18889:18889"
    environment:
      - DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS=true

  redis:
    image: redis:8
    ports:
      - "6379:6379"
    networks:
      - hexagonal_solution_template_network

networks:
  hexagonal_solution_template_network:
    driver: bridge
