name: Load Tests

on:
  workflow_dispatch:

jobs:
  load-tests:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run load tests with Docker Compose
        working-directory: ./templates
        run: |
          docker compose -f docker-compose-load-tests.yml up --exit-code-from k6 --build --timestamps
        env:
          DOCKER_BUILDKIT: 1

      - name: Get k6 logs
        if: always()
        working-directory: ./templates
        run: |
          docker compose -f docker-compose-load-tests.yml logs k6

      - name: Cleanup
        if: always()
        working-directory: ./templates
        run: |
          docker compose -f docker-compose-load-tests.yml down -v
