name: Load Tests

on:
  workflow_dispatch:

jobs:
  load-tests:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Starting required services
        working-directory: ./templates
        run: |
          docker compose -f docker-compose-load-tests.yml up sqlserver redis rabbitmq
        env:
          DOCKER_BUILDKIT: 1
      
      - name: Starting Database Seed
        working-directory: ./templates
        run: |
          docker compose -f docker-compose-load-tests.yml up mssqltools
        env:
          DOCKER_BUILDKIT: 1

      - name: Starting WebApp
        working-directory: ./templates
        run: |
          docker compose -f docker-compose-load-tests.yml up webapp --build
        env:
          DOCKER_BUILDKIT: 1

      - name: Run Load Tests
        working-directory: ./templates
        run: |
          docker compose -f docker-compose-load-tests.yml up k6
        env:
          DOCKER_BUILDKIT: 1

      - name: Get k6 logs
        if: always()
        working-directory: ./templates
        run: |
          docker compose -f docker-compose-load-tests.yml logs k6

      - name: Cleanup
        if: always()
        working-directory: ./templates
        run: |
          docker compose -f docker-compose-load-tests.yml down -v
