on:
  workflow_call:  
    inputs:
      test_project_path:
        required: true
        type: string

      stryker_config_path: 
        required: true
        type: string

jobs:
  mutation-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4

      - name: Install Stryker
        run: dotnet tool install -g dotnet-stryker

      - name: Run Stryker Domain
        run: dotnet stryker -tp ${{inputs.test_project_path}} -f .${{inputs.stryker_config_path}}