name: Publish template in Nuget.org

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  validate:
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-validate.yml@v1
    with:
      unit_test_project_path: "./templates/tests/UnitTests/"
      domain_stryker_config_path: "./templates/tests/UnitTests/stryker-config-domain.json"
      application_stryker_config_path: "./templates/tests/UnitTests/stryker-config-application.json"
      integration_test_project_path: "./templates/tests/IntegrationTests"
      docker_compose_file_path: "./templates/docker-compose.yml"

  pack:
    needs: [validate]
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-pack.yml@v1
    with:
      package_version: "8.0.${{ github.run_number }}"
    secrets:
      nuget_api_key: ${{secrets.NUGET_API_KEY}}
