name: Publish template in Nuget.org

on: 
  workflow_dispatch:

jobs:
  validate:
    name: Validate Template
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-validate.yml@v1
    with:
      unit_test_project_path: "./templates/tests/UnitTests/"
      domain_stryker_config_path: "./templates/tests/UnitTests/stryker-config-domain.json"
      application_stryker_config_path: "./templates/tests/UnitTests/stryker-config-application.json"
      integration_test_project_path: "./templates/tests/IntegrationTests"
      docker_compose_file_path: "./templates/docker-compose.yml"
      dotnet_version: "${{ vars.PROJECT_DOTNET_VERSION }}"
      stryker_enable: false

  pack:
    name: Build and Publish Template Package
    needs: [validate]
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-pack.yml@v1
    with:
      package_version: "10.0.0"
      dotnet_version: "${{ vars.PROJECT_DOTNET_VERSION }}"
    secrets:
      nuget_api_key: ${{ secrets.NUGET_API_KEY }}
