name: Publish template in Nuget.org

on: 
  workflow_dispatch:

jobs:
  validate:
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-validate.yml@v1
    with:
      project: "hexagonal-solution-template"
      organization: "gpreviatti"
      unit_test_project_path: "./templates/tests/UnitTests/"
      unit_test_verbosity: 'd'
      dotnet_version: "${{ vars.PROJECT_DOTNET_VERSION }}"
      domain_stryker_config_path: "./templates/tests/UnitTests/stryker-config-domain.json"
      application_stryker_config_path: "./templates/tests/UnitTests/stryker-config-application.json"
      integration_test_project_path: "./templates/tests/IntegrationTests"
      docker_compose_file_path: "./templates/docker-compose.yml"
    secrets:
      sonar_token: ${{ secrets.SONAR_TOKEN }}
  pack-and-publish:
    needs: validate
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-pack.yml@v1
    with:
      dotnet_version: "${{ vars.PROJECT_DOTNET_VERSION }}"
      package_version: "10.0.3"
    secrets:
      nuget_api_key: ${{ secrets.NUGET_API_KEY }}
