name: Publish template in Nuget.org

on:
  push:
    branches:
      - main

jobs:
  unit-tests:
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet/unit-test.yml@main
    with:
      test_project_path: "./templates/tests/UnitTests/"

  mutant-tests-domain:
    needs: unit-tests
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet/mutation-test.yml@main
    with:
      test_project_path: "./templates/tests/UnitTests/"
      stryker_config_path: "./templates/tests/UnitTests/stryker-config-domain.json"

  mutant-tests-application:
    needs: unit-tests
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet/mutation-test.yml@main
    with:
      test_project_path: "./templates/tests/UnitTests/"
      stryker_config_path: "./templates/tests/UnitTests/stryker-config-application.json"

  integration-tests: 
    needs: unit-tests
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet/integration-test.yml@main
    with:
      docker_compose_file_path: "./templates/docker-compose.yml"
      test_project_path: "./templates/tests/IntegrationTests"

  pack:
    needs: [mutant-tests-application, mutant-tests-domain, integration-tests]
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet/pack.yml@main
    with:
      package_version: "8.0.${{ github.run_number }}"
    secrets:
      nuget_api_key: ${{secrets.NUGET_API_KEY}}
