name: Validate pull request

on: [pull_request]

jobs:
  unit-tests:
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-unit-test.yml@main
    with:
      test_project_path: "./templates/tests/UnitTests/"

  mutant-tests-domain:
    needs: unit-tests
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-mutation-test.yml@main
    with:
      test_project_path: "./templates/tests/UnitTests/"
      stryker_config_path: "./templates/tests/UnitTests/stryker-config-domain.json"

  mutant-tests-application:
    needs: unit-tests
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-mutation-test.yml@main
    with:
      test_project_path: "./templates/tests/UnitTests/"
      stryker_config_path: "./templates/tests/UnitTests/stryker-config-application.json"

  integration-tests: 
    needs: unit-tests
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-integration-test.yml@main
    with:
      docker_compose_file_path: "./templates/docker-compose.yml"
      test_project_path: "./templates/tests/IntegrationTests"

  build:
    runs-on: ubuntu-latest
    needs: [mutant-tests-application, mutant-tests-domain, integration-tests]

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4

    - name: Build Template Pack Project
      run: dotnet build -c Release
      
    - name: Build Template Solution
      run: dotnet build ./templates -c Release
