name: Validate

on: 
  pull_request:
  workflow_dispatch:

jobs:
  validate:
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-validate.yml@v1
    with:
      project: "hexagonal-solution-template"
      organization: "gpreviatti"
      solution_path: "./templates/"
      unit_test_project_path: "./templates/tests/UnitTests/"
      unit_test_verbosity: 'd'
      dotnet_version: "${{ vars.PROJECT_DOTNET_VERSION }}"
      domain_stryker_config_path: "./templates/tests/UnitTests/stryker-config-domain.json"
      application_stryker_config_path: "./templates/tests/UnitTests/stryker-config-application.json"
      integration_test_project_path: "./templates/tests/IntegrationTests"
      docker_compose_file_path: "./templates/docker-compose.yml"
      stryker_enable: false
    secrets:
      sonar_token: ${{ secrets.SONAR_TOKEN }}
    
