name: Validate pull request

on: 
  pull_request:
  workflow_dispatch:

jobs:
  validate:
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-unit-test-with-sonar-scanner.yml@v1
    with:
      project: "hexagonal-solution-template"
      unit_test_project_path: "./templates/tests/UnitTests/"
      organization: "gpreviatti"
      dotnet_version: "${{ vars.PROJECT_DOTNET_VERSION }}"
      domain_stryker_config_path: "./templates/tests/UnitTests/stryker-config-domain.json"
      application_stryker_config_path: "./templates/tests/UnitTests/stryker-config-application.json"
      stryker_enable: false
      dotnet_test_verbosity: 'd'
    secrets:
      sonar_token: ${{ secrets.SONAR_TOKEN }}
    
