name: Validate pull request

on: 
  pull_request:
  workflow_dispatch:

jobs:
  # validate:
  #   name: Validate Template
  #   uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-validate.yml@v1
  #   with:
  #     unit_test_project_path: "./templates/tests/UnitTests/"
  #     domain_stryker_config_path: "./templates/tests/UnitTests/stryker-config-domain.json"
  #     application_stryker_config_path: "./templates/tests/UnitTests/stryker-config-application.json"
  #     integration_test_project_path: "./templates/tests/IntegrationTests"
  #     docker_compose_file_path: "./templates/docker-compose.yml"
  #     dotnet_version: "${{ vars.PROJECT_DOTNET_VERSION }}"
  #     stryker_enable: false
  #     dotnet_test_verbosity: 'd'
  
  sonar-scanner:
    name: SonarQube Scanner
    needs: build
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-unit-test-with-sonar-scanner.yml@v1
    with:
      project: "hexagonal-solution-template"
      test_project_path: "./templates/tests/UnitTests/"
      organization: "gpreviatti"
      dotnet_version: "${{ vars.PROJECT_DOTNET_VERSION }}"
    secrets:
      sonar_token: ${{ secrets.SONAR_TOKEN }}
    
