name: Validate pull request

on: 
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build Template Solution
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-build.yml@v1
    with:
      solution_path: "./templates"
      dotnet_version: "10.x"

  validate:
    name: Validate Template
    needs: build
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-validate.yml@v1
    with:
      unit_test_project_path: "./templates/tests/UnitTests/"
      domain_stryker_config_path: "./templates/tests/UnitTests/stryker-config-domain.json"
      application_stryker_config_path: "./templates/tests/UnitTests/stryker-config-application.json"
      integration_test_project_path: "./templates/tests/IntegrationTests"
      docker_compose_file_path: "./templates/docker-compose.yml"
      dotnet_version: "10.x"
      stryker_enable: false
      dotnet_test_verbosity: 'd'
  
  sonar-scanner:
    name: SonarQube Scanner
    needs: build
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-sonar-scanner.yml@v1
    with:
      project: "hexagonal-solution-template"
      organization: "gpreviatti"
    secrets:
      sonar_token: ${{ secrets.SONAR_TOKEN }}
    
