name: Validate pull request

on: 
  pull_request:
  workflow_dispatch:

jobs:
  validate:
    name: Validate Template
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-validate.yml@v1
    with:
      unit_test_project_path: "./templates/tests/UnitTests/"
      domain_stryker_config_path: "./templates/tests/UnitTests/stryker-config-domain.json"
      application_stryker_config_path: "./templates/tests/UnitTests/stryker-config-application.json"
      integration_test_project_path: "./templates/tests/IntegrationTests"
      docker_compose_file_path: "./templates/docker-compose.yml"
      dotnet_version: "9.x"
      stryker_enable: false

  build:
    needs: validate
    uses: gpreviatti/github-actions-templates/.github/workflows/dotnet-build.yml@v1
    name: Build Template Solution
    with:
      solution_path: "./templates"
      dotnet_version: "9.x"
