name: Validate pull request

on: [pull_request]

jobs:
  unit-tests:
    uses: ./unit-test.yml

  mutant-tests-domain:
    needs: unit-tests
    runs-on: ubuntu-latest@${{ github.head_ref || github.ref_name }} 

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4

    - name: Install Stryker
      run: dotnet tool install -g dotnet-stryker

    - name: Run Stryker Domain
      run: dotnet stryker -tp ./templates/tests/UnitTests/ -f ./templates/tests/UnitTests/stryker-config-domain.json

  mutant-tests-application:
    needs: unit-tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4

    - name: Install Stryker
      run: dotnet tool install -g dotnet-stryker

    - name: Run Stryker Application
      run: dotnet stryker -tp ./templates/tests/UnitTests/ -f ./templates/tests/UnitTests/stryker-config-application.json

  integration-tests: 
    needs: unit-tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4

    - name: Start Docker Compose
      run: docker compose -f ./templates/docker-compose.yml up -d && sleep 10

    - name: Test
      run: dotnet test ./templates/tests/IntegrationTests

  build:
    runs-on: ubuntu-latest
    needs: [mutant-tests-application, mutant-tests-domain, integration-tests]

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4

    - name: Build Template Pack Project
      run: dotnet build -c Release
      
    - name: Build Template Solution
      run: dotnet build ./templates -c Release
